p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  }

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  }

input[type=text] {
  border: none;
  border-bottom: 2px solid #04AA6D;
}

h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2.5em;
  color: FireBrick;
  }

#workers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#workers td, #workers th {
  border: 1px solid #ddd;
  padding: 2px;
}

#workers tr:nth-child(even){background-color: #f2f2f2;}

#workers tr:hover {background-color: #ddd;}

#workers th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
