<!doctype html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
  </head>

<title>Nano Peers</title>
<h1>Nano Peers</h1>
<table style="width:95%", border="1", id="workers">
	<tr>
		<th onclick="sortTable(0)">IPv6</th>
		<th onclick="sortTable(1)">port</th>
		<th onclick="sortTable(2)">Friendly name</th>
		<th onclick="sortTable(3)">Nano address</th>
		<th onclick="sortTable(4)">voting</th>
		<th onclick="sortTable(5)">verified</th>
		<th onclick="sortTable(6)">node_id</th>
		<th onclick="sortTable(7)">weight</th>
		<th onclick="sortTable(8)">count</th>
		<th onclick="sortTable(9)">cemented</th>
		<th onclick="sortTable(10)">unchecked</th>
		<th onclick="sortTable(11)">accounts</th>
		<th onclick="sortTable(12)">bw_cap</th>
		<th onclick="sortTable(13)">peers</th>
		<th onclick="sortTable(14)">protover</th>
		<th onclick="sortTable(15)">uptime</th>
		<th onclick="sortTable(16)">s/w version</th>
		<th onclick="sortTable(17)">timestamp</th>
		<th onclick="sortTable(18)">score</th>
	</tr>
        {% for item in name %}    
        <tr>               
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td><a href="https://nano.community/{{item[3]}}" target="_blank" style="text-decoration: none;">{{item[3]}}</a></td>
            <td>{{item[4]}}</td>
            <td>{{item[5]}}</td>
            <td>{{item[6]}}</td>
            <td>{{item[7]}}</td>
            <td>{{item[8]}}</td>
            <td>{{item[9]}}</td>
            <td>{{item[10]}}</td>
            <td>{{item[11]}}</td>
            <td>{{item[12]}}</td>
            <td>{{item[13]}}</td>
            <td>{{item[14]}}</td>
            <td><div class="tooltip">{{item[15]}}<span class="tooltiptext">{{item[16]}}</span></div></td>
            <td>{{item[17]}}</td>
            <td><div class="tooltip">{{item[18]}}<span class="tooltiptext">{{item[19]}}</span></div></td>
            <td>{{item[20]}}</td>
        </tr>
        {% endfor %}    
</table>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("workers");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
